<%- include("partials/dynamic/header.ejs") %>
        <div class="hero">
          <h1><%= completionStatus %></h1>
          <p><%= content %></p>
        </div>
<%- include("partials/footer.ejs") %>