<%- include("partials/header") %> 
    <section id="about-hero">
      <div class="about-contents">
        <h2>About</h2>
        <p>Cutto is a free URL Shortener. It is still in development phase.</p>
      </div>
    </section>
    <script src="scripts.js"></script>
  </body>
</html>
