<%- include("partials/header.ejs") %>
        <div class="hero">
          <h1>Contact</h1>
          <form class="contact-form" action="/receiveContact" method="post">
            <input
              class="contact-form-input"
              type="text"
              name="senderName"
              id="senderName"
              placeholder="Enter your name"
              required
            />
            <input
              class="contact-form-input"
              type="email"
              name="senderEmail"
              id="senderEmail"
              placeholder="Enter your Email ID"
              required
            />
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="10"
              placeholder="Enter your message"
            ></textarea>
            <button class="contact-btn" id="contact-btn" type="submit">
              Send
            </button>
          </form>
        </div>
  <%- include("partials/footer.ejs") %>