<%- include("partials/header") %> 
<section id="success-hero">
      <div class="success-contents">
        <h2>Uh Oh!</h2>
        <p><%= failureMessage %></p></p>
        <button class="primary-btn" id="success-page-btn">Go to home</button>
      </div>
    </section>
    <script src="scripts.js"></script>
  </body>
</html>
