<%- include("partials/header.ejs") %>
      <div class="hero">
        <h1>Welcome to Cutto</h1>
        <p>
          Long URLs are not convenient for sharing and are not easy to
          understand. So, Cutto is here to offer you free URL shortening
          service. Let's cut it out!
        </p>
        <form action="/generate" method="post">
          <input
            class="shortener-form-input"
            type="text"
            name="inputURl"
            id="ipURl"
            placeholder="Paste your URL here"
            required
          />
          <button class="shorten-button" type="submit">Shorten</button>
        </form>
      </div>
<%- include("partials/footer.ejs") %>