<%- include("partials/header") %> 
    <section id="hero">
      <div class="hero">
        <div class="left">
          <h1>Cut out your large URL!</h1>
          <p>A free URL shortener to help you share your link easily.</p>
          <button
            class="primary-btn"
            onclick="document.getElementById('ipURL').focus()"
          >
            Get Started
          </button>
        </div>
        <div class="right">
          <img src="/images/home.jpg" alt="Hero Image" width="80%" />
        </div>
      </div>
    </section>
    <section id="shortener">
      <form action="/" method="post">
        <div class="req-type-ip">
          <select name="protocol">
            <option selected value="https">HTTPS</option>
            <option value="http">HTTP</option>
          </select>
        </div>
        <div class="url-ip">
          <input
            type="text"
            id="ipURL"
            name="inputURL"
            placeholder="Enter URL"
          />
        </div>
        <div class="alias-ip">
          <input
            type="text"
            id="ipPath"
            name="inputPath"
            placeholder="Enter Path"
          />
        </div>
        <div class="sm">
          <button type="submit" class="submit-btn">Generate</button>
        </div>
      </form>
    </section>
    <script src="scripts.js"></script>
  </body>
</html>
