<%- include("partials/header") %> 
    <section id="success-hero">
      <div class="success-contents">
        <h2>URL Shortened successfully.</h2>
        <p>The generated URL is printed below. Please copy and share it.</p>
        <input type="text" readonly value="<%= shortenedURL %>" />
        <button class="primary-btn" id="success-page-btn">Go to home</button>
      </div>
    </section>
    <script src="scripts.js"></script>
  </body>
</html>
